<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant</title>
</head>

<body>
    <header id="header">
        <section id="logo-container">
            <div id="logo"></div>
            <h1 id="programmer"><a href="https://github.com/5OH3L" target="_blank" rel="noopener noreferrer">Sohel</a>
            </h1>
        </section>
        <nav>
            <button id="button-home" class="page-links" data-tab="home">Home</button>
            <button id="button-menu" class="page-links" data-tab="menu">Menu</button>
            <button id="button-about" class="page-links" data-tab="about">About</button>
        </nav>
    </header>
    <div id="content">
        <section id="about-page">
            <div id="about-page-background"></div>
            <section id="about-page-header-container" class="initial-padding">
                <section id="about-page-header">
                    <h1 class="font-montserrat font-weight-bold">About</h1>
                </section>
                <section id="about-page-main">
                    <section id="about-page-main-restaurant">
                        <h2 class="font-montserrat font-weight-bold">Zaytuna</h2>
                        <p class="font-open-sans">Zaytuna embodies the heart of Arabian hospitality, seamlessly blending tradition with luxury. The restaurant offers a culinary journey through the Middle East, where each dish is meticulously crafted using rich spices and fresh ingredients. Guests can expect a visual and gastronomic feast that tantalizes the senses, showcasing the vibrant flavors and warm hospitality synonymous with Middle Eastern culture.</p>
                    </section>
                    <section id="about-page-main-details">
                        <section id="about-page-main-location">
                            <h3 class="font-montserrat font-weight-bold about-page-main-details-heading">Location:</h3>
                            <div class="font-open-sans">
                                <p class="about-page-main-details-sub-heading">123 Arabian Way,</p>
                                <p class="about-page-main-details-sub-heading">Culinary District,</p>
                                <p class="about-page-main-details-sub-heading">Metropolis City,</p>
                                <p class="about-page-main-details-sub-heading">ST 12345</p>
                            </div>
                        </section>
                        <section id="about-page-main-open-timings">
                            <h3 class="font-montserrat font-weight-bold about-page-main-details-heading">Open Timings:</h3>
                            <div class="font-open-sans">
                                <p class="about-page-main-details-sub-heading">Sunday to Thursday:</p>
                                <p class="about-page-main-details-sub-heading">∟ 10:00 AM - 10:00 PM</p>
                            </div>
                        </section>
                        <section id="about-page-main-highlights">
                            <h3 class="font-montserrat font-weight-bold about-page-main-details-heading">Highlights:</h3>
                            <ul class="font-open-sans">
                                <li class="about-page-main-details-sub-heading">Community Engagement</li>
                                <li class="about-page-main-details-sub-heading">Diverse Menu Options</li>
                                <li class="about-page-main-details-sub-heading">Halal Cuisine</li>
                            </ul>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </div>
    <footer>
        <section id="contact-us">
            <h2 id="contact-us-heading" class="font-montserrat font-weight-bold">Contact Us</h2>
            <div id="contact-us-main" class="font-open-sans">
                <section id="contact-us-contacts">
                    <p id="contact-us-phone-number">Phone Number: 123-456-7890</p>
                    <p id="contact-us-email">Email: LegitEmail@Really.com</p>
                    <p id="contact-us-copyright">&#169; 2025 Zaytuna</p>
                </section>
                <nav id="contact-us-social-media">
                    <p id="contact-us-social-media-youtube">YouTube: <a href="#" target="_blank" rel="noopener noreferrer">@Zaytuna</a></p>
                    <p id="contact-us-social-media-instagram">Instagram: <a href="#" target="_blank" rel="noopener noreferrer">@Zaytuna</a></p>
                    <p id="contact-us-social-media-twitter">Twitter ( X ): <a href="#" target="_blank" rel="noopener noreferrer">@Zaytuna</a></p>
                </nav>
            </div>
        </section>
    </footer>
</body>

</html>