<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant</title>
</head>

<body>
    <header id="header">
        <section id="logo-container">
            <div id="logo"></div>
            <h1 id="programmer"><a href="https://github.com/5OH3L" target="_blank" rel="noopener noreferrer">Sohel</a></h1>
        </section>
        <nav>
            <button class="page-links active">Home</button>
            <button class="page-links">Menu</button>
            <button class="page-links">About</button>
        </nav>
    </header>
    <div id="content">
        <section id="home-page">
            <section id="home-page-main">
                <div id="home-page-background-overlay"></div>
                <div id="home-page-main-header" class="initial-top-padding">
                    <div id="home-page-main-header-heading"><h1 class="font-montserrat font-weight-normal">Welcome To <span class="font-weight-bold">Zaytuna</span></h1></div>
                    <p class="font-open-sans">Inspired by the heart of Arabian hospitality, Zaytuna brings you a fusion of tradition and luxury. Savor the finest flavors of the Middle East, crafted with rich spices, fresh ingredients, and a touch of elegance. A feast for the senses in every bite.</p>
                    <button class="font-montserrat">BOOK A TABLE</button>
                </div>
            </section>
            <section id="home-page-featured"></section>
        </section>
    </div>
    <footer>
        <h2 id="contact-us">Contact Us</h2>
        <div id="contact-us-main">
            <section id="contact-us-contacts">
                <p id="contact-us-phone-number">Phone Number: 123-456-7890</p>
                <p id="contact-us-email">Email: LegitEmail@Really.com</p>
                <p id="contact-us-copyright">&#169; 2025 Zaytuna</p>
            </section>
            <nav id="contact-us-social-medias">
                <p id="contact-us-social-medias-youtube">YouTube: <a href="#">@Zaytuna</a></p>
                <p id="contact-us-social-medias-instagram">Instagram: <a href="#">@Zaytuna</a></p>
                <p id="contact-us-social-medias-twitter">Twitter ( X )<a href="#">@Zaytuna</a></p>
            </nav>
        </div>
    </footer>
</body>

</html>