*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-height: 10vh;
}

body {
    overflow: hidden;
    overflow-y: hidden;
    scrollbar-gutter: stable;
    width: 100vw;
}

body::selection {
    background-color: rgba(135, 206, 235, 0.5);
}

/* Loader */
#loader-wrapper,#content-loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;
    position: fixed;
    will-change: opacity;
    transition: opacity 0.5s ease;
}
#loader-wrapper{
    pointer-events: all;
    background-color: #232323;
    z-index: 30;
}
#content-loader-wrapper{
    pointer-events: none;
    opacity: 0;
    background-color: #121212;
    z-index: 5;
    will-change: opacity;
    transition: opacity 0.5s ease;
}
#content-loader-wrapper.active{
    opacity: 1;
}

#loader,
#content-loader {
    width: 80px;
    aspect-ratio: 1;
    display: grid;
    border: 4px solid #0000;
    border-radius: 50%;
    border-color: #ccc #0000;
    animation: l16 1s infinite linear;
}

#loader::before,
#content-loader::before,
#loader::after,
#content-loader::after {
    content: "";
    grid-area: 1/1;
    margin: 2px;
    border: inherit;
    border-radius: 50%;
}

#loader::before,
#content-loader::before {
    border-color: #87ceeb #0000;
    animation: inherit;
    animation-duration: .5s;
    animation-direction: reverse;
}

#loader::after,
#content-loader::after {
    margin: 8px;
}

@keyframes l16 {
    100% {
        transform: rotate(1turn)
    }
}

/* Image Credits */

#image-credits {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    width: 100vw;
    z-index: 20;
    pointer-events: none;
}

#image-credits-button {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    margin: 1rem 2rem;
    pointer-events: all;
    user-select: none;
    cursor: pointer;
    will-change: transform, box-shadow;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#image-credits-close-pop-up {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    color: white;
    border: 2px solid white;
    margin-top: -2rem;
    margin-right: -2px;
    border-bottom: none;
    backdrop-filter: blur(0.4rem);
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    will-change: transform, box-shadow;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-size: 1rem;
}

#image-credits-button:hover,
#image-credits-close-pop-up:hover {
    transform: scale(1.05);
    box-shadow: 0 0 1rem 0 rgba(255, 255, 255, 0.5);
}

#image-credits-button:active,
#image-credits-close-pop-up:active {
    transform: scale(0.95);
}

#image-credits-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;
    pointer-events: none;
}

#image-credits-overlay {
    position: absolute;
    height: 100%;
    width: 100vw;
    transition: background-color 0.5s ease, backdrop-filter 0.5s ease;
    z-index: 25;
}

#image-credits-overlay.active {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(0.3rem);
    pointer-events: all;
}

#image-credits-main {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    height: 80vh;
    width: 80vw;
    color: white;
    opacity: 0;
    border: 2px solid white;
    border-radius: 0.5rem;
    border-top-right-radius: 0;
    transform: translateY(-150%);
    will-change: transform, opacity;
    transition: transform 0.5s ease, opacity 0.5s ease;
    padding: 1rem;
    z-index: 30;
}

#image-credits-main.initial {
    transition: none !important;
}

#image-credits-main.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
}

#image-credits-main-credits {
    height: 100%;
    width: 100%;
    padding: 1rem 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: auto;
    gap: 2rem;
}

.image-credits-main-image {
    border: 2px solid white;
    border-radius: 0.5rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1rem;
    height: 18rem;
    width: 18rem;
    will-change: transform, box-shadow;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-credits-main-image:hover {
    transform: scale(1.05);
    box-shadow: 0 0 2rem 0 rgba(255, 255, 255, 0.5);
}

.image-credits-main-image a {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.image-credits-main-image a h1 {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.5rem;
}

/* Header */

#header {
    height: var(--header-height);
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(0.1rem);
    padding: 0 5rem;
    z-index: 10;
}

#header #logo-container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 4rem;
    gap: 1rem;
}

#programmer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    will-change: transform;
    transition: transform 0.5s ease;
}

#programmer:hover {
    transform: scale(1.05);
}

#programmer:active {
    transform: scale(0.95);
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

#programmer::before,
#programmer::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 120%;
    width: 110%;
    background-image: conic-gradient(from var(--angle), skyblue, gray, blueviolet, deepskyblue, skyblue);
    border-radius: 0.5rem;
    z-index: -1;
    animation: 5s spin linear infinite;
    opacity: 0;
    will-change: opacity;
    transition: opacity 0.5s ease;
}

#programmer:hover::before,
#programmer:hover::after {
    opacity: 1;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

#programmer::before {
    filter: blur(1rem);
}

#programmer a {
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    border-radius: 0.5rem;
    background-color: transparent;
    padding: 0.5rem 1rem;
    will-change: background-color, padding;
    transition: background-color 0.5s ease;
}

#programmer:hover a {
    background-color: black;
}

#logo {
    height: calc(var(--header-height) * 0.8);
    width: calc(var(--header-height) * 0.8);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 100%;
    border: 2px solid white;
}

#header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: 1rem;
    position: relative;
}

#header #logo-container,
#header nav {
    flex: 1;
}

.page-links {
    position: relative;
    color: white;
    background: none;
    border: none;
    padding: 1rem 1.5rem;
    font-family: "Montserrat", sans-serif;
    font-size: large;
    font-weight: bold;
    border-radius: 0.5rem;
    cursor: pointer;
}

.page-links::before {
    content: "";
    position: absolute;
    height: 5%;
    width: 100%;
    background-color: skyblue;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    will-change: transform;
    transition: transform 0.3s ease;
}

.page-links::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(transparent, rgba(135, 206, 235, 0.4));
    top: 0;
    left: 0;
    z-index: -1;
    transform: scaleY(0);
    will-change: transform, background-image;
    transition: transform 0.3s ease, background-image 0.3s ease;
}

.page-links:active::after {
    background-image: linear-gradient(transparent, rgba(135, 206, 235, 0.5));
}

.page-links:hover::before {
    transform: scaleX(1);
}

.page-links:hover::after {
    transform: scaleY(1);
}

.page-links.selected::before,
.page-links.selected::after {
    transform: scaleX(1);
    transform: scaleY(1);
}

.page-links.selected::after {
    background-image: linear-gradient(transparent, rgba(135, 206, 235, 0.2));
}

/* Content */

#content {
    height: 100%;
    width: 100vw;
}

#home-page {
    height: 200vh;
    width: 100vw;
}

#home-page-main {
    height: 100vh;
    width: 100%;
}

#home-page-background,
#home-page-main-header {
    height: 100%;
    width: 100vw;
}

#home-page-background::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(0.3rem);
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

#home-page-background {
    position: absolute;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    z-index: -1;
}

#home-page-main-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 10vw;
    color: white;
    gap: 2rem;
}

#home-page-main-header-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

#home-page-main-header-heading span {
    letter-spacing: 1rem;
}

#home-page-main-header p {
    font-size: 1.2rem;
    max-width: 50vw;
}

#home-page-main-header button {
    background: none;
    border: 2px solid white;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.4rem;
    cursor: pointer;
    position: relative;
    will-change: transform, color, box-shadow;
    transition: transform 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

#home-page-main-header button:hover {
    color: black;
    transform: scale(1.05);
    box-shadow: 0 0 1rem 0 gray;
}

#home-page-main-header button:active {
    transform: scale(0.95);
}

#home-page-main-header button::before {
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    position: absolute;
    will-change: transform;
    transition: transform 0.3s ease;
    z-index: -1;
}

#home-page-main-header button:hover::before {
    transform: scaleX(1);
}

#home-page-featured {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    position: relative;
    color: #E7E7E7;
}

#home-page-featured-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    background-color: rgb(100, 100, 100);
    z-index: -1;
}

#home-page-featured h1 {
    font-size: 3rem;
    letter-spacing: 0.5rem;
}

#home-page-featured-dishes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.home-page-featured-dishes-dish {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: inherit;
}

.home-page-featured-dishes-dish p {
    max-width: 20rem;
    text-align: center;
}

.dish-image-wrapper {
    position: relative;
    will-change: transform, box-shadow;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.dish-image-wrapper:hover {
    transform: scale(1.05);
    box-shadow: 0 0 4rem 0 gray;
}

.dish-image-wrapper:active {
    transform: scale(1.01);
}

.dish-image-wrapper::before {
    content: "";
    background-image: conic-gradient(from var(--angle), white, skyblue, silver, skyblue, white);
    top: 50%;
    left: 50%;
    height: 105%;
    width: 105%;
    border-radius: 0.5rem;
    position: absolute;
    animation: spin 3s linear infinite;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.dish-image {
    height: 14rem;
    width: 14rem;
    position: relative;
    border-radius: 0.5rem;
    cursor: pointer;
    z-index: 0;
}

#home-page-featured-dishes-mandi-image,
#home-page-featured-dishes-shawarma-image,
#home-page-featured-dishes-kabsa-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Menu Page */

#menu-page {
    height: 100%;
    width: 100vw;
}

#menu-page-main {
    height: 100%;
    position: relative;
    color: white;
}

#menu-page-main-header-container {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;
}

#menu-page-main-header-container h1 {
    font-size: 3rem;
}

#menu-page-main-header-container label {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    gap: 0.5rem;
    font-size: 1.5rem;
}

#menu-page-main-header-container label select {
    background: transparent;
    color: white;
    border-color: white;
    text-align: center;
    font-size: 1rem;
    padding: 0.4rem 1rem;
}

#menu-page-main-header-container label select option {
    background-color: black;
}

#menu-page-main-dishes {
    min-height: max-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.menu-page-main-dishes-dish {
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid lightcyan;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    will-change: transform, box-shadow;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu-page-main-dishes-dish:hover {
    transform: scale(1.05);
    box-shadow: 0 0 2rem 0 rgba(255, 255, 255, 0.5);
}

.menu-page-main-dishes-dish:active {
    transform: scale(1.03);
}

.menu-page-main-dish-image {
    height: 10rem;
    width: 10rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 0.2rem solid lightgray;
    border-radius: 0.5rem;
}

.menu-page-main-dish-image a {
    height: 100%;
    width: 100%;
    display: block;
    opacity: 0;
}

.menu-page-main-dish-name {
    max-width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-size: 1.5rem;
}

.menu-page-main-dish-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    max-width: 12rem;
    height: 4rem;
    line-height: 1.3rem;
}

.menu-page-main-dish-price {
    width: 100%;
    font-size: 1.4rem;
    text-align: left;
}

#menu-page-main-background {
    position: absolute;
    height: 100%;
    width: 100vw;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

#menu-page-main-background::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    backdrop-filter: blur(0.5rem);
    background-color: rgba(0, 0, 0, 0.4);
}

/* About Page */
#about-page {
    height: 100vh;
    width: 100vw;
    position: relative;
    color: white;
}

#about-page-background {
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100vw;
    position: absolute;
    z-index: -1;
}

#about-page-background::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    backdrop-filter: blur(0.4rem);
    background-color: rgba(0, 0, 0, 0.6);
}

#about-page-header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

#about-page-header h1 {
    font-size: 3rem;
}

#about-page-main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#about-page-main-restaurant {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#about-page-main-restaurant h2 {
    font-size: 2rem;
}

#about-page-main-restaurant p {
    max-width: 90%;
    text-align: center;
    font-size: 1.5rem;
}

#about-page-main-details {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

#about-page-main-details>section {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.about-page-main-details-heading {
    font-size: 1.5rem;
}

.about-page-main-details-sub-heading {
    font-size: 1.2rem;
}

/* Footer */

footer {
    height: 30vh;
    width: 100vw;
    color: white;
    background-color: #343434;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-us {
    height: 100%;
    width: 100%;
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#contact-us-main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#contact-us-contacts,
#contact-us-social-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.6rem;
}

#contact-us-copyright {
    align-self: center;
}

#contact-us-social-media p a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding: 0.1rem 0.5rem;
    border-radius: 0.5rem;
    will-change: transform, color, background-color;
    transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}

#contact-us-social-media p a:hover {
    color: black;
    background-color: white;
    transform: scale(1.05);
}

#contact-us-social-media p a:active {
    transform: scale(0.95);
}